@CHARSET "UTF-8";

html, body, .wrapper, .full {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

html, body {
	background-color: #f5f9fa;
}

#list {
	overflow-y: auto;
}

#map {
}

.laatste {
	float:right;
}

.bullet {
 	width: 16px;
 	height: 16px;
 	margin-left: -12px;
 	margin-right: 4px;
}
.label {
	position: absolute;
	padding: 2px;
	background: #ffff99;
}

.unibar {
	background-color: #1CABE3;
    border-color: #E7E7E7;
    color: white;
}

.logo {
  height: 48px;
}

a.cog {
  color: white;
  text-decoration: none;
}
