@CHARSET "UTF-8";

html, body, .wrapper, .full {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#list {
/*	padding: 0px 8px 0px 8px;*/
	overflow-y: auto;
}

#map {
}

.laatste {
	float:right;
}

.bullet {
 	width: 16px;
 	height: 16px;
 	margin-left: -12px;
 	margin-right: 4px;
}
.label {
	position: absolute;
	padding: 2px;
	background: #ffff99;
}
