{% extends 'base.html' %}
{% load i18n admin_urls %}
{% block title %}{{map.name}} {% endblock %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" href="//unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
<link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.Default.css"/>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/static/css/leaflet.wmslegend.css"/>
<link rel="stylesheet" href="/static/css/maps.css"/>
{% endblock %}
{% block script %}
{{ block.super }}
<script src="//maps.googleapis.com/maps/api/js?key={{api_key}}" async defer></script>
<script src="//unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
<script src="//unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js"></script>
<script src="//unpkg.com/leaflet.markercluster@1.0.5/dist/leaflet.markercluster.js"></script>
<script src="//unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/static/js/leaflet.wmslegend.js"></script>
<script src="/static/js/betterwms.js"></script>
<script src="/static/js/xml2json.js"></script>
<script src="/static/js/maps.js"></script>
<script src="/static/js/inventory.js"></script>
<script>

var inventory = new Inventory()

function getCookie(cookie) {
	const cookies = decodeURIComponent(document.cookie).split(';')
		.map(token => token.trim())
		.filter(token => token.startsWith(cookie));
	return cookies.length==1? cookies[0].substring(cookie.length+1): "";
}

/***
 * returns array of promises (one for every group) that resolve when layers in the group have been loaded
 */
async function addAllOverlays(groups, map, list) {
	let id = 0;
	return Object.keys(groups).map(name => {
		const layers = groups[name]
		const groupId = `group${id++}`;
		let item = `<a class="list-group-item list-group-item-secondary" data-toggle="collapse" href="#${groupId}" aria-expanded="true" aria-controls="${groupId}">
		<i class="fas pr-3 fa-layer-group"></i><strong>${name}</strong></a>
		<div class="collapse show" id="${groupId}"></div>`;
		list.append(item);

		{% if request.user.is_authenticated %}
		// Allow user to sort layers in group list
		$(`#${groupId}`).sortable({
			update: function(event,ui) {
				// copy text of divs with a data-toggle attribute (displayName of layers) to array
				const keys = $(this).find('div[data-toggle]').toArray().map(e => e.innerText);
				console.debug(keys);
				$.post('reorder/',JSON.stringify(keys)).then(()=> {
					sortOverlays(overlayLayers,keys);
				});
			}
		});
		{% endif %}
		return addOverlays(map, $(`#${groupId}`), layers)
	});
}

function getSelectedProperty() {
	return $("#property option:selected").text()
}

function propertyChanged() {
	const prop = getSelectedProperty()
	if (prop.startsWith('Choose'))
		prop = undefined
	inventory.attribute = prop
	$("#legend").html(inventory.getLegendGraphic())
	inventory.redraw(theMap)
}

/***
 * call getFeatureInfo on all WMS layers on the map and return contents of html table for popup
 */
async function getFeatureInfo(map, evt) {
	const layers = map._layers
	const wmsKeys = Object.keys(layers).filter(key => layers[key].getFeatureInfoParams);
	const promises = wmsKeys.map(key => {		
		const layer = layers[key];
	    const params = layer.getFeatureInfoParams(evt.latlng);
	    return $.get(layer._url,params).then(response => {
	    	return layer.formatFeatureInfoResponse(response);
		})
	})
	return await Promise.all(promises);
}

$(function() {

	// initialize the map
	const options = {{options|safe}};
	const map = initMap('map',options,{{map.id}});
	
	// set the extent of the map
	const extent = {{extent}};
	if (extent.length === 4) {
		const bounds = L.latLngBounds([extent[1],extent[0]],[extent[3],extent[2]]);
		map.fitBounds(bounds);
	}

	// load overlays
	const groups = {{map.groups|safe}};
	const list = $("#list");
	overlayLayers = [];
	addAllOverlays(groups, map, list).then(() => {
		map.on('click', evt => {
			// query all visible wms layers
			getFeatureInfo(map, evt).then(info => {
				if (info.length) {
			    	L.popup({ maxWidth: 800})
				    .setLatLng(evt.latlng)
				    .setContent('<html><body><table class="table table-sm">' + info.join('\n') + '</table></body></html>')
				    .openOn(map)  	
				}
			})
			// don't call layer.on('click')
			// evt.preventDefault()
		});
	});
	
	// Load the inventory data
	inventory.loadData('/static/inventory.json').then(data => {

		// add select control to ui
		let text = '<li class="list-group-item list-group-item-secondary">Inventory Data</li><select id="property" class="custom-select" onchange="propertyChanged()"><option selected>Choose...</option>';
		let index = 1;
		for (const prop in data.features[0].properties) {
			text += `<option value="${index}">${prop}</option>`;
			index++;
		}
		text += '</select>';
		$("#inventory").append(text);
		
		// load style for inventory data
		inventory.loadStyles('/static/styles.json').then(styles => {
			// create layer and add to map
			inventory.createLayer(data).addTo(map)
		})
	})
});

</script>
{% endblock %}
{% block content %}
<div class="full container-fluid">
	<div class="full row row-fluid">
		<div id="map" class="full col-sm-10"></div>
		{% block list %}
		<div id="listwrapper" class="col-sm-2 pr-0">
			<div id="list" class="list-group scroll pr-0"></div>
			<div id="inventory" class="list-group scroll mt-3 pr-0"></div>
			<br>
			<div id="legend" class="pl-3 ml-3"></div>
		</div>
		{% endblock list %}
	</div>
</div>
{% endblock %}