{% extends 'base.html' %}
{% load i18n admin_urls %}
{% block title %}{{map.name}} {% endblock %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" href="//unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
<link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.Default.css"/>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/static/css/leaflet.wmslegend.css"/>
<link rel="stylesheet" href="/static/css/maps.css"/>
{% endblock %}
{% block script %}
{{ block.super }}
<script src="//maps.googleapis.com/maps/api/js?key={{api_key}}" async defer></script>
<script src="//unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
<script src="//unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js"></script>
<script src="//unpkg.com/leaflet.markercluster@1.0.5/dist/leaflet.markercluster.js"></script>
<script src="//unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/static/js/leaflet.wmslegend.js"></script>
<script src="/static/js/betterwms.js"></script>
<script src="/static/js/xml2json.js"></script>
<script src="/static/js/maps.js"></script>

<style>
#map {
  height: calc(100% - 84px); /* quick fix to make map full screen */
}
</style>

<script>
$(function() {
	const options = {{options|safe}};
	const map = initMap('map',options,{{map.id}});
	const extent = {{extent}};
	if (extent.length === 4) {
		const bounds = L.latLngBounds([extent[1],extent[0]],[extent[3],extent[2]]);
		map.fitBounds(bounds);
	}
	const groups = {{map.groups|safe}};
	const list = $("#list");
	let id = 0;
	$.each(groups, (name, layers) => {
		id++;
		const groupId = `group${id}`;
		let item = `<a class="list-group-item active" data-toggle="collapse" href="#${groupId}" aria-expanded="true" aria-controls="${groupId}">
		<i class="fas pr-3 fa-layer-group"></i>${name}</a>
		<div class="collapse show" id="${groupId}"></div>`;
		list.append(item);
		addOverlays(map, $(`#${groupId}`), layers)
			.then(overlays => {
				// do something usefulin
			});
	});
 	$("#list").height($("#map").height());

{% if series %}
 	const series = {{series|safe}};
	addItems(map, $("#series"), series)
		.then(items => {
			$("#itemcount").html(`${items.length}`);
		});
{% endif %}

});

</script>
{% endblock %}
    {% block header %}
    <nav class="navbar navbar-dark bg-dark">
    <span class=""><img class="logo" src="/static/default-logo.png"></img></span>
	<a class="cog fas fa-cog fa-2x float-right" href="{% url object|admin_urlname:'change' object.id %}" title="Admin page"></a>
    </nav>
    {% endblock header %}
{% block content %}
<div class="full container-fluid">
	<div class="full row row-fluid">
		<div id="map" class="col-sm-10"></div>
		{% block list %}
		<ul id="list" class="list-group scroll col-sm-2 pr-0">
			{% if series %}
			<a class="list-group-item active" data-toggle="collapse" href="#series" aria-expanded="true" aria-controls="series">
				<i class="fas pr-3 fa-chart-line"></i>{%trans "Timeseries"%}<span id="itemcount" class="float-right badge badge-light">...</span>
			</a>
			<div class="collapse hide" id="series">
			</div>
			{% endif %}
		</ul>
		{% endblock list %}
	</div>
</div>
{% endblock %}