{% extends 'base.html' %}
{% block title %}GW4E Dissemination Tool{% endblock %}
{% block script %}
{{ block.super }}
<script src="//unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
{% endblock %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" href="//unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
<style>
#map {
  height: 100%;
  border: 2px solid #1CABE3;
}
.list-group-item {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
<h2 class="mt-3">Groundwater Mapping for Climate Resilient WASH</h2>	
<p>This website presents the results of the project "Groundwater Mapping for Climate Resilient WASH in arid and semi-arid areas of Ethiopia".
The project is funded by the European Union and managed by <a href="//www.unicef.org/ethiopia">Unicef Ethiopia</a>. Contracting parties are <a href="http://www.acaciawater.com">Acacia Water</a> and <a href="http://www.aquacon.info">Aquacon</a>
</p>
<p>Select a document for download below or click on the map to open an interactive cluster map</p>
<div class="row row-fluid">
<div class="col">
	<div id="map"></div>
</div>
<div class="col">
	<div class="list-group">
		<li class="list-group-item unibar"><strong>Phase 1</strong></li>
		<li class="list-group-item list-group-item-action"><a href="https://cloud.acaciadata.com/index.php/s/lpqZtKur0Eb08Mg">Final report phase 1</a><a href="https://cloud.acaciadata.com/index.php/s/lpqZtKur0Eb08Mg/download"><i class="mt-1 fas fa-download float-right"></i></a></li>
		<li class="list-group-item list-group-item-action"><a href="https://cloud.acaciadata.com/index.php/s/wpfMTS0rkBCQVfq">Geological maps 1:250000</a></li>
		<li class="list-group-item list-group-item-action"><a href="https://cloud.acaciadata.com/index.php/s/k5DMDgzUWyekdoR">Conceptual models</a></li>
		<li class="list-group-item list-group-item-action"><a href="https://cloud.acaciadata.com/index.php/s/JQM8lI6pOnXbD3D">Socio-economic maps 1:250000</a></li>
		<li class="list-group-item list-group-item-action"><a href="https://cloud.acaciadata.com/index.php/s/WFQySiAgx0Y2jzi">Water demand maps 1:250000</a></li>
		<li class="list-group-item list-group-item-action"><a href="https://cloud.acaciadata.com/index.php/s/9hRFyYvdwTdqLoz">Suitability maps 1:250000</a></li>
		<li class="list-group-item list-group-item-action"><a href="https://cloud.acaciadata.com/index.php/s/sE4RBGJROiAvVwX">Woreda suitability maps</a></li>
		<li class="list-group-item list-group-item-action">Inventory data</li>
		<li class="list-group-item unibar"><strong>Phase 2</strong></li>
		<li class="list-group-item list-group-item-action"><a href="https://cloud.acaciadata.com/index.php/s/Wx33MyuWJ8SfJzS">Final report phase 2</a><a href="https://cloud.acaciadata.com/index.php/s/Wx33MyuWJ8SfJzS/download"><i class="mt-1 fas fa-download float-right"></i></a></li>
		<li class="list-group-item list-group-item-action">Geological maps 1:50000</li>
		<li class="list-group-item list-group-item-action"><a href="https://cloud.acaciadata.com/index.php/s/H30yZCoZgXcWoMH">Hydrogeological maps 1:50000</a></li>
		<li class="list-group-item list-group-item-action"><a href="https://cloud.acaciadata.com/index.php/s/1q0V621kb2DjILC">Drilling site maps 1:10000</a></li>
	</div>
</div>
</div>
</div>

<script>

$(function() {
	// initialize the map
	var map = L.map("map",{center:[10,40],zoom:4});
	var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
 		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	});
	osm.addTo(map);
	$.getJSON('/static/clusters.json').then(data => {
		const clusters = L.geoJSON(data,{
            onEachFeature: (feature, layer) => {
                layer.bindTooltip(feature.properties.zonename)
                layer.setStyle({color: '#1CABE3'});
                layer.on('mouseover', () => {
                  layer.setStyle({ color: 'red'});
                  layer.bringToFront()
                })
                layer.on('mouseout', () => {
                  layer.setStyle({color:'#1CABE3'});
                })
                layer.on('click', () => {
                	window.open(`/map?cluster=${feature.properties.cluster}`);
                })
              }
		});
		clusters.addTo(map);
		map.fitBounds(clusters.getBounds());
	});
});
</script>
{% endblock content %}
